<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form  action="register" method="post">
		<input type="text" name="add" placeholder="用户名" >
		<input type="submit" value="新建">
	</form>
	<form  action="register" method="post">
		<input type="text" name="delete" placeholder="用户名" >
		<input type="submit" value="删除">
	</form>
	<form  action="register" method="post">
		<input type="text" name="old_update" placeholder="旧用户名" >
		<input type="text" name="new_update" placeholder="新用户名" >
		<input type="submit" value="修改">
	</form>
	<p><%=msg%></p>
</body>
</html>