<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="support/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/shop.css">
</head>

<body>
	<div id="shops">
		<section >
			<shop v-for='(shop,index) in shopsData' :shop='shop' :index='index' @delshop='delShop(index)'></shop>
		</section>
		<section id="allCheck">
			<totalsum :totalPrice='totalPrice' :totalNum='totalNum' :isAllCheck='isAllCheck' ></totalsum>
		</section>
	</div>


	<template id="totalsum">
		<table class="table">
			<tr class="text-muted  text-center">
				<td class="row col-sm-1">
					<input type="checkbox" name="" id="all" :checked='isallcheck' @click='allCheck'>
					<label for="all">全选</label>
				</td>
				<td class="row col-sm-6 col-sm-offset-4 lead">
					<p>共选择了<span class="text-danger">{{totalnum}}</span>件商品,共<span class="text-danger">{{totalprice|priceFormat }}</span>元</p>
				</td>
				<td class="row col-sm-1 ">
					<button class="btn btn-default  btn-danger">结算</button>
				</td>
			</tr>
		</table>
	</template>

	<template id="shop">
		<div class="panel panel-default" >
			<div class="panel-heading clearfix">	
				<input type="checkbox" name="" :checked="shop.isShopCheck" @click='pickShop(shop)' >
				<label class="text-muted text-primary">店铺名:{{shop.shopName}}</label>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tbody id="items">
						<item v-for='(item,index) in shop.itemList' :item='item' :index='index' @ispickitem='ifAllItems' @delitem='delItem(index)'></item> 
					</tbody>
				</table>
			</div>
		</div>
	</template>

	<template id='item'>
		<tr class="row text-center text-muted" >
			<td class="col-sm-1 shop-check"> 
				<input type="checkbox" name="" :checked="item.isItemCheck" @click='pickItem(item)'>
			</td>
			<td class="col-sm-2">
				<img :src="item.itemImage">
			</td>
			<td class="col-sm-2">
				<span >商品名:{{item.itemName}}</span>
			</td>
			<td class="col-sm-3 text-left">
				<p >简介:{{item.itemInfos}}</p>
			</td>
			<td class="col-sm-2 shop-num">
				<button @click='clickNumBtn(item,false)'>-</button>
				<input type="text" name="" class="text-center" :value="item.itemNumber" v-model='item.itemNumber'>
				<button @click='clickNumBtn(item,true)'>+</button>
			</td>
			<td class="col-sm-1">
				<p>{{item.itemPrice*item.itemNumber|priceFormat}}</p>
			</td>
			<td class="col-sm-1 shop-del">
				<button @click='delItem(index)'>删除</button>
			</td>
		</tr>
	</template>
	<script type="text/javascript" src='support/jquery.js'></script>
	<script type="text/javascript" src='support/bootstrap.js'></script>
	<script type="text/javascript" src='support/mock.js'></script>
	<script type="text/javascript" src='support/vue.js'></script>
	<script type="text/javascript" src='support/vue-resource.js'></script>

	<!-- 拦截ajax请求 -->
	<script type="text/javascript" src='data/mock.js'></script> 
	<!-- 控制vue数据 -->
	<script type="text/javascript" src='data/app.js'></script>
</body>

</html>